// ----------------------------
// STYLE MODULE POLITIQUE CONFIDENT
// ----------------------------

.m-politique-confident {
    margin: 3rem 0;
    h1 {
        margin-bottom: 2rem;
    }
    .m-politique-confident-box {
        margin-bottom: 1rem;
        p {
            margin: 0;
        }
        .m-politique-confident-box-unit {
            margin-bottom: 1rem;
        }
    }
}