// MINI - RESET
*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

// BASIC TAGS
html {
    font-size: 16px;
    font-family: 'AvenirNext LT Pro', 'sans-serif';
}

body {
    width: 100%;
    color: map-get($map: $colors, $key: 'text');
}

img {
    width: 100%;
}

h1 {
    font-size: nth($fontsize, 1);    
}

h2 {
    font-size: nth($fontsize, 2);
}

h3 {
    font-size: nth($fontsize, 3);
}