// MINI - RESET
*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

// BASE
html {
    font-size: 16px;
    font-family: 'AvenirNext LT Pro', 'sans-serif';
}

body {
    width: 100%;
    color: map-get($map: $colors, $key: 'text');
}

h1, h2, h3, h4 {
    font-weight: normal;
}

h1 {
    font-size: nth($fontsize, 1);    
}

h2 {
    font-size: nth($fontsize, 2);
}

h3 {
    font-size: nth($fontsize, 3);
}

a {
    text-decoration: none;
}

//WRAPPER Mobile
.wrapper {
    width: 100%;
    max-width: 85%;
    margin: 0 auto;
}

//buttons
.btn-outline-info {
    color: map-get($map: $colors, $key: 'text');
    border-color: map-get($map: $colors, $key: 'text');
    &:hover {
        color: map-get($map: $colors, $key: 'text');
        background-color: map-get($map: $colors, $key: 'bg-2');
        border-color: map-get($map: $colors, $key: 'bg-2');
    }
    i {
        font-size: 1rem;
    }
}

.size-btn {
    font-size: 0.3rem;
    margin: 0.3rem;
}

.btn-danger-size {
    font-size: 0.6rem;
}

.detail-btn {
    width: 5rem;
}

.btn-favori-delete, .btn-add-panier, .btn-commentaire-delete, .btn-commentaire-modif, .btn-evaluation-modif, .btn-evaluation-delete {
    width: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.google-auth {
    margin-top: 2rem;
}

//overflow
.overflow-y {
    overflow-y: scroll;
}
.overflow-x {
    overflow-x: scroll;
}

//text-align
.text-center {
    text-align: center;
}

td > .text-end {
    display: block;
    padding-right: 3rem;
}

//flash-messages 
.message {
    text-align: center;
}



//articles en promotion
.promo {
    color: rgb(8, 146, 8);
    margin: 0;
}
.promo-date {
    font-size: .7rem;
}

.barre {
    text-decoration: line-through;
}
.promo-box {
    display: flex;
    justify-content: space-between;
    width: 8rem;
}



//MEDIA QUERY 
@media screen and (min-width: 576px) {
    .form-flex-container {
        flex-direction: row;
        justify-content: space-between;
        .mb-3 {
            flex: 0 0 45%;
        }
    }
}
@media screen and (min-width: 1400px) {
    .wrapper {
        max-width: 1200px;
    }
}