//Variable map for colors
$colors: (
    'text': #575757,
    'bg-2': #ffcf76,    
);

//Variable list for font-size titles (h1, h2,...)
$fontsize: (
    2rem,
    1.6rem,
    1.1rem
);

//Variables for grid system - loop in grid.scss
$grid-columns: 12;

$screen-sizes: (
    'sm': 576px,
    'md': 768px, 
    'lg': 992px, 
    'xl': 1200px, 
    'xxl': 1400px //(breakpoints inspired by https://www.mediaevent.de/css/breakpoints.html)
);