// COULEURS
$colors: (
    'main1': white,
    'text': #575757,
    'bg-2': #ffcf76,    
);

// FONT-SIZE
$fontsize: (
    2rem,
    1.6rem,
    1.1rem
);

// VARIABLES POUR LE SYSTEME DE GRILLE
$grid-columns: 12;

$screen-sizes: (
    'sm': 576px,
    'md': 768px, 
    'lg': 992px, 
    'xl': 1200px, 
    'xxl': 1400px //(inspiré par https://www.mediaevent.de/css/breakpoints.html)
);