<section class="m-recherche">
    <div class="wrapper">
        <section class="m-recherche-categories">
            <div class="row">
                {% for cat in tableauTest %}
                    <div class=" col-4 col-sm-4 col-md-2">
                        <a href="#">
                            <div class="m-recherche-categorie-box">
                                <div class="deco-point"></div>
                                <h4>{{ cat }}</h4>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </section>
        <section class="m-recherche-barre">
            <form class="m-recherche-barre-form" method="get" action="">
                <div class="m-recherche-barre-box">
                    <input type="text" name="keywords">
                    <button type="submit" class="submit-btn"><i class="fas fa-search"></i></button>
                </div>
            </form>
        </section>
    </div>
</section>
