<section class="m-recherche">
    <div class="wrapper">
        <section class="m-recherche-categories">
            <div class="row">
                {% for traductionCategorie in traductionCategories %}
                    <div class=" col-4 col-sm-4 col-md-2">
                        <a href="{{ path('article_recherche_cat', {id: traductionCategorie.categorie.id, pagCat: 1}) }}">
                            <div class="m-recherche-categorie-box">
                                <div class="deco-point"></div>
                                <h4>{{ traductionCategorie.nom }}</h4>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </section>
        <section class="m-recherche-barre">
            <form class="m-recherche-barre-form" id="m-recherche-barre-form" method="GET" action="{{ path('article_recherche', {pagBar: 1}) }}">
                <div class="m-recherche-barre-box">
                    <input type="text" name="mots" id="mots">
                    <button type="submit" class="submit-btn" id="submit-rech-btn"><i class="fas fa-search"></i></button>
                </div>
            </form>
        </section>
    </div>
</section>
