<section class="m-recherche">
    <div class="wrapper">
        <section class="m-recherche-categories">
            <div class="row">
                {% for categorie in categories %}
                    <div class=" col-4 col-sm-4 col-md-2">
                        <a href="{{ path('article_recherche_cat', {id: categorie.id}) }}">
                            <div class="m-recherche-categorie-box">
                                <div class="deco-point"></div>
                                <h4>{{ categorie.traductionCategories[0].nom }}</h4>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </section>
        <section class="m-recherche-barre">
            <form class="m-recherche-barre-form" method="post" action="{{ path('article_recherche') }}">
                <div class="m-recherche-barre-box">
                    <input type="text" name="mots">
                    <button type="submit" class="submit-btn"><i class="fas fa-search"></i></button>
                </div>
            </form>
        </section>
    </div>
</section>
