.m-admin {
    width: 100%;
}

.m-admin-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5rem;    
    svg {
        display: block;
        width: auto;
        height: 10rem;
    }
}

.m-admin-stat-intro {
    margin: 3rem 0;
    text-align: center;
}

.m-admin-stat-box {
    height: 15rem;
    .canvas-box {
        height: 12rem; 
    }  
}


.m-admin-stat-box, .m-admin-intro-box {
    color: map-get($map: $colors, $key: 'text');
    text-align: center;
    width: 100%;
    max-width: 80%;  
    margin: 3rem auto 4rem auto;   
    h2 {
        margin-bottom: 2rem;
    }   
}

.general-box {
    height: 5rem;
    margin: .5rem;
    padding: .5rem;
    h2 {
        margin-bottom: .5rem;
    }
   
}