{% extends 'base.html.twig' %}

{% block title %}{% trans %}AGB{% endtrans %}{% endblock %}

{% block body %}

{# rendering fragment recherche #}
{{ render(path('recherche')) }}

<section class="m-cgv">
    <div class="wrapper">
        {% for message in app.flashes('connexion') %}
            <div class="alert alert-success message">
                {{ message }}
            </div>
        {% endfor %}
        <h1>{% trans %}Allgemeine Geschäftsbedingungen{% endtrans %}</h1>        
        <div class="m-cgv-box">
            <h2>{% trans %}1. Beschreibung{% endtrans %}</h2>
            <p>{% trans %}1.1. Die AGB definieren die Rechte und Pflichten der Parteien im Zusammenhang mit dem Verkauf von Produkten/Dienstleistungen (im Folgenden die „Produkte/Dienstleistungen“) über die <strong>SOAP-OPERA-Website</strong> (im Folgenden die „Website“). Diese AGB regeln jeden Verkauf von Produkten, die auf der Website hergestellt werden.{% endtrans %}</p>
            <p>{% trans %}1.2. Die AGB werden abgeschlossen zwischen einerseits <strong>SOAP-OPERA (Bergstrasse 79 - B-4710 Lontzen, info@soapopera.be, 0031/621652519)</strong>, verbunden mit <strong>PRODUCTIONS ASSOCIEES ASBL</strong>, registriert bei der Crossroads Bank for Enterprises in Belgien unter der Nummer 0896.755.397 (MwSt.-Nr. 0896.755.397), deren mit Sitz in 70, Rue Emile Féron, 1060 Brüssel, Belgien, im Folgenden als „Verkäufer“ bezeichnet, und andererseits der Besteller, im Folgenden als „Käufer“ bezeichnet. Käufer und Verkäufer werden im Folgenden gemeinsam als „Parteien“ bezeichnet.{% endtrans %}</p>
            <p>{% trans %}1.3. Jede Bestellung eines auf der Website angebotenen Produkts (im Folgenden „Bestellung“) setzt die vorherige Konsultation und ausdrückliche Annahme der AGB durch den Käufer voraus, ohne dass diese Annahme durch eine handschriftliche Unterschrift seitens des Käufers bedingt ist. Gemäß den Bestimmungen des Gesetzes vom 9. Juli 2001 zur Festlegung bestimmter Vorschriften zum Rechtsrahmen für elektronische Signaturen und Zertifizierungsdienste stellt die Validierung des Bestellformulars eine elektronische Signatur dar, die zwischen den Parteien den gleichen Wert hat wie a handschriftliche Unterschrift und stellt den Beweis für die Vollständigkeit der Bestellung und die Zahlung der für die Ausführung der besagten Bestellung fälligen Beträge dar.{% endtrans %}</p>
            <p>{% trans %}1.4. Der Käufer, der ein Produkt auf der Website kaufen möchte, erklärt, voll geschäftsfähig zu sein.{% endtrans %}</p>
        </div>
        <div class="m-cgv-box">
            <h2>{% trans %}2. Produkte und Dienstleistungen zum Verkauf{% endtrans %}</h2>
            <p>{% trans %}Die zum Verkauf angebotenen Produkte/Dienstleistungen sind diejenigen, die auf der Website mit einer Beschreibung ihrer wesentlichen Merkmale am Tag und zum Zeitpunkt der Konsultation der Website durch den Käufer und im Rahmen der verfügbaren Bestände erscheinen. Der Verkäufer bemüht sich nach Kräften, die Verfügbarkeit von Produkten/Dienstleistungen in Echtzeit auf der Website anzuzeigen, kann jedoch nicht haftbar gemacht werden, wenn ein Produkt nicht mehr verfügbar ist, um die Bestellung vom Käufer auszuführen. Im Falle der Nichtverfügbarkeit eines der bestellten Produkte/Dienstleistungen wird der Käufer informiert und hat die Möglichkeit, seine Bestellung entweder zu ändern oder zu stornieren, wobei ihm in diesem Fall der Betrag seiner Bestellung erstattet wird hat dafür schon bezahlt.{% endtrans %}</p>
        </div>
        <div class="m-cgv-box">
            <h2>{% trans %}3. Verkaufspreise der dargestellten Produkte/Dienstleistungen{% endtrans %}</h2>
            <p>{% trans %}3.1 Der Preis jedes Produkts wird auf der Website (im Folgenden „Kaufpreis“) in Euro und einschließlich Mehrwertsteuer angezeigt. Dieser Preis gilt in den Ländern, für die die Lieferung auf der Website möglich ist, und beinhaltet weder die Kosten für die Vorbereitung und Lieferung, die ebenfalls vom Käufer zu tragen sind, noch den Abzug von Rabatten oder Gutscheinen, die dem Käufer persönlich gewährt werden. Der Verkäufer behält sich das Recht vor, seine Preise jederzeit zu ändern, die Produkte/Dienstleistungen werden jedoch auf der Grundlage des zum Zeitpunkt der Bestätigung der Bestellung gültigen Kaufpreises in Rechnung gestellt.{% endtrans %}</p>
            <p>{% trans %}3.2 Mit der Bestellung verpflichtet sich der Käufer, zusätzlich zum Kaufpreis der bestellten Produkte/Dienstleistungen die Vorbereitungs- und Lieferkosten (im Folgenden „Kosten“) zu zahlen. Diese Kosten variieren je nach Art und Menge der bestellten Produkte/Dienstleistungen und der gewählten Versandart und beinhalten die Mehrwertsteuer. Der Käufer kann die Höhe dieser Kosten auf der Website einsehen, indem er seinen „Warenkorb“ konsultiert, wo eine Berechnung des Gesamtbetrags angezeigt wird, der dem Kaufpreis der Produkte/Dienstleistungen und den Kosten entspricht. Der Verkäufer behält sich das Recht vor, die Höhe der Kosten jederzeit zu ändern, die Kosten werden jedoch auf der Grundlage der zum Zeitpunkt der Bestätigung der Bestellung geltenden Tarife und vorbehaltlich der Verfügbarkeit in Rechnung gestellt. Diese Kosten bleiben fällig und werden nicht erstattet, wenn der Käufer die Bestellung ganz oder teilweise im Rahmen seines Widerrufsrechts zurücksendet.{% endtrans %}</p>
            <p>{% trans %}3.3 Die Produkte/Dienstleistungen werden nur in die Länder geliefert, für die die Website die Lieferung genehmigt. Käufern, die in eines der autorisierten Länder, aber auf eine Insel dieser Länder geliefert werden möchten, wird ein Lieferzuschlag berechnet. Jede falsche Lieferadresse liegt in der Verantwortung des Käufers und kann zu zusätzlichen Kosten führen. Die angegebenen Lieferzeiten sind unverbindlich, sondern dienen nur zur Information. Kein Lieferverzug kann zu Schadensersatz zugunsten des Käufers führen. Der Verkäufer ist zu Teillieferungen berechtigt. Im Falle der Nichtlieferung der Ware werden alle vom Käufer gezahlten Beträge ohne Zinsen oder sonstige Entschädigung zurückerstattet.{% endtrans %}</p>
        </div>
        <div class="m-cgv-box">
            <h2>{% trans %}4. Bestellbedingungen{% endtrans %}</h2>
            <p>{% trans %}4.1 Um eine Bestellung aufzugeben, muss der Käufer das ihm auf der Website zur Verfügung gestellte Bestellformular ausfüllen, in das er die für seine Identifizierung erforderlichen Informationen einträgt, insbesondere seinen Nachnamen, Vornamen und seine Lieferadresse. Der Verkäufer kann nicht für die Folgen der Übermittlung fehlerhafter Informationen verantwortlich gemacht werden. Nach dem Ausfüllen des Bestellformulars wird der Käufer aufgefordert, den Bestellvorgang abzuschließen, indem er auf „Bestellung bestätigen“ klickt. Der Käufer erklärt sich damit vollumfänglich und vorbehaltlos mit allen diesen AGB einverstanden und verpflichtet sich zur Zahlung des vollen fälligen Betrages, d.h. des Kaufpreises zuzüglich Kosten und abzüglich Einkaufsgutscheine.{% endtrans %}</p>
            <p>{% trans %}4.2 Der Verkäufer bestätigt jede Bestellung durch Versenden einer E-Mail an den Käufer an die vom Käufer bei seiner Anmeldung angegebene E-Mail-Adresse (im Folgenden „Auftragsbestätigung“). In dieser Auftragsbestätigung werden insbesondere genannt:{% endtrans %}</p>
            <ol>
                <li>{% trans %}die Hauptmerkmale der bestellten Ware oder Dienstleistung;{% endtrans %}</li>
                <li>{% trans %}die Identität des Verkäufers, einschließlich seiner Geschäftsnummer und seines Handelsnamens;{% endtrans %}</li>
                <li>{% trans %}die geografische Adresse des Verkäufers sowie seine Telefonnummer, seine E-Mail-Adresse;{% endtrans %}</li>
                <li>{% trans %}den Gesamtpreis der Waren oder Dienstleistungen einschließlich aller Steuern und aller zusätzlichen Transport-, Liefer- und sonstigen Kosten;{% endtrans %}</li>
                <li>{% trans %}die Zahlungs-, Liefer- und Leistungsbedingungen, das Datum, an dem sich das Unternehmen verpflichtet, die Waren zu liefern oder die Dienstleistungen zu erbringen;{% endtrans %}</li>
                <li>{% trans %}die vom Unternehmen bereitgestellten Verfahren zur Bearbeitung von Beschwerden;{% endtrans %}</li>
                <li>{% trans %}die Bedingungen, Fristen und Verfahren für die Ausübung des Widerrufsrechts;{% endtrans %}</li>
                <li>{% trans %}die Bedingungen, unter denen der Verbraucher nicht vom Widerrufsrecht gemäß Art. VI. 53 des Wirtschaftsgesetzbuches und Kunst. 7 der AGB Gebrauch machen kann;{% endtrans %}</li>
                <li>{% trans %}das Bestehen einer zweijährigen Konformitätsgarantie (ein Jahr für gebrauchte Produkte) gemäß den Artikeln 1649bis bis 1649octies des Bürgerlichen Gesetzbuchs und einer Garantie gegen versteckte Mängel gemäß den Artikeln 1641 bis 1649 des Bürgerlichen Gesetzbuchs , und durch Kunst. 10 der AGB;{% endtrans %}</li>
                <li>{% trans %}die Möglichkeit, sich an die <a href="https://ec.europa.eu/consumers/odr/main/index.cfm?event=main.home2.show&lng=FR">Europäische Streitbeilegungsplattform</a> zu wenden, um ein gütliches Streitbeilegungsverfahren einzuleiten.{% endtrans %}</li>
                <!--
                <li>{% trans %}gegebenenfalls das Vorhandensein von Kundendienst für den Verbraucher, Kundendienst und kommerzielle Garantien sowie die damit verbundenen Bedingungen;{% endtrans %}</li>
                <li>{% trans %}gegebenenfalls das Vorhandensein anwendbarer Verhaltenskodizes und wie man eine Kopie erhält;{% endtrans %}</li>
                <li>{% trans %}gegebenenfalls die Vertragsdauer oder, falls es sich um einen unbefristeten oder automatisch verlängerbaren Vertrag handelt, die Bedingungen für die Vertragsbeendigung;{% endtrans %}</li>
                <li>{% trans %}gegebenenfalls die Mindestdauer der Verpflichtungen des Verbrauchers aus dem Vertrag;{% endtrans %}</li>
                <li>{% trans %}gegebenenfalls das Bestehen einer vom Käufer zu zahlenden oder zu stellenden Kaution oder sonstigen finanziellen Garantien sowie die damit verbundenen Bedingungen;{% endtrans %}</li>
                <li>{% trans %}gegebenenfalls die Funktionalität der digitalen Inhalte, einschließlich der anwendbaren technischen Schutzmaßnahmen;{% endtrans %}</li>
                <li>{% trans %}gegebenenfalls jede relevante Interoperabilität des digitalen Inhalts mit bestimmter Hardware oder Software, die dem Unternehmen bekannt ist oder vernünftigerweise bekannt sein sollte;{% endtrans %}</li>
                -->
            </ol>
            <p>{% trans %}Die vom Verkäufer erfassten Daten sowie die Auftragsbestätigung gelten als Beweis für die vertraglichen Beziehungen zwischen den Parteien.{% endtrans %}</p>
            <p>{% trans %}4.3 Der Verkäufer behält sich das Recht vor, Bestellungen oder Lieferungen abzulehnen oder zu stornieren im Falle eines bestehenden Streits mit dem Käufer, der vollständigen oder teilweisen Nichtzahlung einer früheren Bestellung oder der Verweigerung der Autorisierung der Zahlung per Kreditkarte. In diesem Fall kann die Verantwortung des Verkäufers in keinem Fall übernommen werden.{% endtrans %}</p>
        </div>
        <div class="m-cgv-box">
            <h2>{% trans %}5. Zahlungsbedingungen{% endtrans %}</h2>
            <p>{% trans %}5.1 Die Bezahlung der Einkäufe erfolgt per Kreditkarte wie Visa oder Mastercard und mit Bankkarten wie „Maestro“.{% endtrans %}</p>
            <p>{% trans %}5.2 Die bestellten Produkte bleiben bis zur vollständigen Zahlung des Kaufpreises und der bei der Bestellung angegebenen Kosten Eigentum des Verkäufers.{% endtrans %}</p>
        </div>
        <div class="m-cgv-box">
            <h2>{% trans %}6. Lieferung{% endtrans %}</h2>
            <p>{% trans %}6.1 Die Lieferung erfolgt durch den Verkäufer in Belgien und Deutschland (alle Steuern und Einfuhrkosten gehen zu Lasten des Käufers){% endtrans %}</p>
            <p>{% trans %}6.2 Die Bestellung wird an die vom Käufer angegebene Adresse geliefert.{% endtrans %}</p>
            <p>{% trans %}6.3 Bei einer Lieferung in Belgien bemüht sich der Verkäufer, sicherzustellen, dass die Bestellung innerhalb von 5 Werktagen nach Bestätigung der Bestellung und Zahlungseingang an die Lieferadresse gesendet wird. Der Zusteller findet sich an Werktagen zwischen 8.00 und 18.00 Uhr an dieser Adresse ein und übergibt das/die Paket(e) dem Empfänger oder einer anderen anwesenden Person an der angegebenen Adresse. Bei Abwesenheit wird eine Benachrichtigung an der Lieferadresse hinterlassen. Es ist dann Sache des Käufers, den Zusteller zu kontaktieren, um entweder einen neuen Liefertermin an dieselbe Adresse oder einen neuen Liefertermin an eine neue Adresse oder eine Abholung bei der Post zu einem späteren Zeitpunkt zu vereinbaren. Erfolgt dies nicht innerhalb von 15 Tagen ab dem Datum der vom Zusteller hinterlassenen Benachrichtigung oder ist der Käufer zum Zeitpunkt der neuen Lieferung abwesend, wird die Bestellung automatisch an den Verkäufer zurückgeschickt, der den Käufer kontaktieren wird, um einen neuen Termin zu vereinbaren Lieferung der Bestellung. In diesem Fall können dem Käufer zusätzliche Versandkosten in Rechnung gestellt werden.{% endtrans %}</p>
            <p>{% trans %}6.4 Bei einer Lieferung außerhalb Belgiens wird der Verkäufer alle Anstrengungen unternehmen, um sicherzustellen, dass die Bestellung innerhalb von 15 Tagen nach Bestätigung der Bestellung geliefert wird. Die Lieferbedingungen sind spezifisch für die Postdienste des betreffenden Landes.{% endtrans %}</p>
            <p>{% trans %}6.5 Hat der Käufer den Zusteller benannt, geht die Gefahr auf den Käufer über, wenn die bestellten Produkte dem Zusteller zur Verfügung gestellt werden. Der Nachweis dieser Bestimmung erfolgt durch das vom Zusteller eingesetzte Kontrollsystem.{% endtrans %}</p>
            <p>{% trans %}6.6 Es ist Sache des Käufers, die Sendungen bei Ankunft zu überprüfen und berechtigt erscheinende Vorbehalte und Beanstandungen zu äußern oder das Paket sogar abzulehnen, wenn es wahrscheinlich geöffnet wurde oder offensichtliche Anzeichen von Beschädigung aufweist. Bei Reklamationen nach Erhalt der Bestellung ist innerhalb von 48 Stunden nach Erhalt der Bestellung eine E-Mail an die Adresse <strong>info@soapopera.be</strong> mit dem Betreff „Reklamation Lieferung“ und mit Fotos zu senden.{% endtrans %}</p>
        </div>
        <div class="m-cgv-box">
            <h2>{% trans %}7. Widerrufsrecht und Rückgabebedingungen{% endtrans %}</h2>
            <p>{% trans %}7.1 Wenn die auf der Website gekauften Produkte/Dienstleistungen für den Käufer nicht geeignet sind, hat dieser eine Frist von vierzehn (14) Kalendertagen ab dem Tag nach dem Tag der Lieferung, um seinen Kauf ohne Vertragsstrafe und ohne Angabe von Gründen gemäß dem belgischen Wirtschaftsgesetzbuch zu stornieren.{% endtrans %}</p>
            <p>{% trans %}Innerhalb dieser Frist muss der Käufer den Verkäufer wie folgt über seine Absicht informieren, von seinem Widerrufsrecht Gebrauch zu machen:{% endtrans %}</p>
            <p>{% trans %}- Senden Sie eine E-Mail an <strong>info@soapopera.be</strong> - Geben Sie den Vor- und Nachnamen des Käufers an - Geben Sie eine detaillierte Beschreibung des/der betreffenden Artikel(s) unter Angabe der Nummer und des Datums der ausgestellten Rechnung an{% endtrans %}</p>
            <p>{% trans %}oder{% endtrans %}</p>
            <p>{% trans %}- Füllen Sie das auf der Website des FÖD Wirtschaft verfügbare Formular aus (<a href="https://economie.fgov.be/sites/default/files/Files/Forms/Formulaire-de-retractation.pdf">https://economie.fgov.be/sites/default/files/Files/Forms/Formulaire-de-retractation.pdf</a>){% endtrans %}</p>
            <p>{% trans %}7.2 Die Rücksendung an den Verkäufer erfolgt an die folgende Adresse, sofern dem Käufer nicht anders mitgeteilt, mit jedem vom Käufer gewählten Transportmittel, der den Versandnachweis aufbewahren muss.{% endtrans %}</p>
            <p>{% trans %}<strong>Bergstrasse 79 - B-4710 Lontzen</strong>{% endtrans %}</p>
            <p>{% trans %}7.3 Wünscht der Käufer anstelle einer Rückerstattung einen Umtausch, gibt er dies in der E-Mail an und der Verkäufer teilt ihm neben der Verfügbarkeit des Artikels den zu zahlenden Aufpreis oder ggf. die Teilrückerstattung mit.{% endtrans %}</p>
            <p>{% trans %}7.4 Alle mit dem Versand der zurückgesandten Artikel verbundenen Kosten und Risiken gehen zu Lasten des Käufers.{% endtrans %}</p>
            <p>{% trans %}7.5 Im Falle der Ausübung des Widerrufsrechts durch den Käufer innerhalb der oben genannten Frist und der Rücksendung der Produkte spätestens vierzehn (14) Tage nach Mitteilung seiner Entscheidung zum Widerruf gemäß den in den vorstehenden Absätzen vereinbarten Modalitäten, Der Verkäufer verpflichtet sich, dem Käufer den Kaufpreis, sofern er bereits bezahlt wurde, nach Erhalt der Produkte durch den Verkäufer zu erstatten.{% endtrans %}</p>
            <p>{% trans %}7.6 Im Falle der Rückerstattung der zurückgegebenen Produkte/Dienstleistungen schreibt der Verkäufer der für die Zahlung der besagten Produkte verwendeten Kreditkarte einen Betrag gut, der dem Kaufpreis dieser Produkte entspricht, abzüglich des Betrags der gewährten Einkaufsgutscheine oder Rabatte. während der Bestellung. Die Erstattung des Käufers erfolgt gemäß den mit der kartenausgebenden Bank vereinbarten Bedingungen.{% endtrans %}</p>
            <p>{% trans %}7.7 Der Käufer kann von seinem Widerrufs- und/oder Umtauschrecht keinen Gebrauch machen, wenn die gelieferten Produkte offensichtlich gebraucht oder beschädigt sind, fehlende Teile enthalten oder deren Etiketten entfernt wurden.{% endtrans %}</p>
            <p>{% trans %}7.8 Die Produkte müssen unbedingt ordnungsgemäß geschützt, in der Originalverpackung, in einwandfreiem Zustand für den Wiederverkauf (unbeschädigt, beschädigt oder vom Kunden verschmutzt) zusammen mit allem möglichen Zubehör, Gebrauchsanweisungen, intakten und angebrachten Etiketten usw unter der angegebenen Adresse. Andernfalls können sie nicht zurückgenommen oder umgetauscht werden.{% endtrans %}</p>
            <p>{% trans %}7.9 Produkte, bei denen kein beigefügtes Element den Absender nicht identifiziert (Rücksendenummer, Bestellnummer, Name, Vorname, Adresse), können ebenfalls nicht zurückgenommen oder umgetauscht werden. Die zurückgegebenen Produkte, die vom Verkäufer nicht zurückgenommen werden können, werden dem Käufer beim Verkäufer zur Verfügung gestellt. Der Käufer bleibt zur Zahlung des Preises verpflichtet. Bei anormalen oder missbräuchlichen Rücksendungen behält sich der Verkäufer das Recht vor, eine Folgebestellung abzulehnen.{% endtrans %}</p>
            <p>{% trans %}7.10 Schließlich können maßgeschneiderte oder personalisierte Produkte/Dienstleistungen unter keinen Umständen zurückgegeben oder umgetauscht werden.{% endtrans %}</p>
            <p>{% trans %}7.11 Der Verkäufer gibt auf der Website die Bedingungen, die Frist und die Bedingungen des Widerrufsrechts sowie das <a href="https://economie.fgov.be/fr/themes/ventes/reglementation/delais-de-retractation/droit-de-retractation-lors-de">Muster-Widerrufsformular</a> an.{% endtrans %}</p>
        </div>
        <div class="m-cgv-box">
            <h2>{% trans %}8. Schutz der Privatsphäre in Bezug auf personenbezogenen daten der Käufer{% endtrans %}</h2>
            <p>{% trans %}8.1 Der Verkäufer erhebt personenbezogene Daten über die Käufer, die ihm auf der Website oder per E-Mail mitgeteilt werden. Er verpflichtet sich, diese Daten nicht an Dritte weiterzugeben. Diese sind vertraulich. Sie werden nur von seinen internen Diensten zur Auftragsabwicklung verwendet, um die Kommunikation zu stärken und zu personalisieren, insbesondere durch Informationsschreiben/E-Mails, sowie im Rahmen der Personalisierung der Website gemäß den beobachteten Präferenzen der Käufer , oder zur Überwachung der Zahlungsfähigkeit.{% endtrans %}</p>
            <p>{% trans %}8.2 Der Verkäufer verkauft, vermarktet oder vermietet daher nicht an Dritte Käuferinformationen. Im Falle einer Weitergabe oder Nutzung personenbezogener Daten durch Dritte verpflichtet sich der Verkäufer, den Käufer vorher zu informieren und ihm die Ausübung seines Widerspruchsrechts zu ermöglichen. Der Verkäufer kann vertrauenswürdigen Dritten auch konsolidierte Statistiken über seine Käufer, Verkäufe, Handelsmuster und Standortinformationen zur Verfügung stellen, aber diese Statistiken enthalten keine personenbezogenen Daten. Dieser Artikel darf jedoch den Verkauf oder die Übertragung von Aktivitäten an Dritte nicht verhindern.{% endtrans %}</p>
            <p>{% trans %}8.3. Der Verkäufer speichert personenbezogene Daten nur für den Zeitraum, der zur Erreichung der spezifischen Zwecke, für die die Verarbeitung durchgeführt wird, erforderlich ist. Bei der Bestimmung der angemessenen Dauer werden Menge, Art und Sensibilität der personenbezogenen Daten, die Zwecke, für die sie verarbeitet werden, und die Möglichkeit, diese Zwecke auf andere Weise zu erreichen, berücksichtigt. Dabei wird auch der Notwendigkeit Rechnung getragen, seinen gesetzlichen und aufsichtsrechtlichen Verpflichtungen nachzukommen. Wenn die Daten nicht mehr benötigt werden, werden sie vernichtet.{% endtrans %}</p>
            <p>{% trans %}8.4. Der Käufer hat das Recht:{% endtrans %}</p>
            <ul>
                <li>{% trans %}Auskunft darüber zu verlangen, ob der Verkäufer über personenbezogene Daten verfügt und wenn ja, um welche Daten es sich handelt und zu welchen Zwecken sie verarbeitet werden;{% endtrans %}</li>
                <li>{% trans %}auf ihre personenbezogenen Daten zuzugreifen und diese gegebenenfalls zu berichtigen;{% endtrans %}</li>
                <li>{% trans %}der betreffenden Verarbeitung aus Gründen, die sich aus ihrer besonderen Situation ergeben, zu widersprechen;{% endtrans %}</li>
                <li>{% trans %}die Löschung dieser Daten oder die Einschränkung ihrer Verarbeitung zu verlangen, was es beispielsweise ermöglicht, den Verkäufer zu bitten, die Verarbeitung personenbezogener Daten auszusetzen, die Zeit, die erforderlich ist, um die Richtigkeit bestimmter Daten zu überprüfen;{% endtrans %}</li>
                <li>{% trans %}sie betreffende personenbezogene Daten in einem strukturierten, gängigen und maschinenlesbaren Format zu erhalten und diese Daten an einen anderen Datenverantwortlichen zu übermitteln;{% endtrans %}</li>
                <li>{% trans %}eine Beschwerde bei der Datenschutzbehörde einzureichen, wenn sie feststellt, dass diese Verarbeitung gegen geltende Gesetze und Vorschriften verstößt.{% endtrans %}</li>
            </ul>
            <p>{% trans %}Der Käufer kann die oben genannten Rechte durch einen datierten und unterzeichneten Antrag ausüben, dem aus Sicherheitsgründen eine Kopie seines Personalausweises beigefügt ist. Die Anfrage kann postalisch an die Adresse <strong>Bergstrasse 79 - B-4710 Lontzen</strong> und per E-Mail mit elektronischer Signatur an die Adresse <strong>info@soapopera.be</strong> an den Verkäufer gerichtet werden. Die Ausübung dieser Rechte ist kostenlos. Ist der Antrag jedoch offensichtlich unbegründet oder missbräuchlich, kann der Zugang verweigert und/oder angemessene Gebühren erhoben werden.{% endtrans %}</p>
        </div>
        <div class="m-cgv-box">
            <h2>{% trans %}9. Haftung{% endtrans %}</h2>
            <p>{% trans %}9.1. Der Verkäufer schließt nur Mittelverpflichtungen für alle Stufen des Zugriffs auf die Website ab, von der Bestellung über die Lieferung bis hin zu nachfolgenden Dienstleistungen. Der Verkäufer kann nicht für Unannehmlichkeiten oder Schäden haftbar gemacht werden, die mit der Nutzung des Internet-Netzwerks verbunden sind, insbesondere eine Unterbrechung des Dienstes, ein externes Eindringen oder das Vorhandensein von Computerviren oder alle Ereignisse, die als höhere Gewalt qualifiziert werden können. In jedem Fall darf die Haftung des Verkäufers gemäß den Bedingungen der AGB einen Betrag nicht übersteigen, der den während der Transaktion gezahlten oder zu zahlenden Beträgen entspricht, die zu dieser Haftung führen, unabhängig von der Ursache oder Form der betreffenden Handlung.{% endtrans %}</p>
            <p>{% trans %}9.2 Der Verkäufer kann nicht für Fälle höherer Gewalt wie Verzögerungen bei der Ausführung oder für die Nichterfüllung seiner Verpflichtungen aufgrund von Ereignissen verantwortlich gemacht werden, die außerhalb seiner normalen Kontrolle liegen.{% endtrans %}</p>
        </div>
        <div class="m-cgv-box">
            <h2>{% trans %}10. Konformitätsgarantie{% endtrans %}</h2>
            <p>{% trans %}Alle gekauften Produkte unterliegen der zweijährigen gesetzlichen Konformitätsgarantie (ein Jahr, wenn es sich um ein gebrauchtes Produkt handelt), die in den Artikeln 1649bis bis 1649octies des Bürgerlichen Gesetzbuchs vorgesehen ist, und der gesetzlichen Garantie auf versteckte Mängel, die in den Artikeln 1641 vorgesehen ist bis 1649 des Bürgerlichen Gesetzbuches. Gemäß den Artikeln 1649bis bis 1649octies des Bürgerlichen Gesetzbuchs haben Verbraucher unter anderem das Recht, vom Verkäufer innerhalb von zwei Jahren nach ihrer Lieferung die kostenlose Reparatur oder den kostenlosen Ersatz von Produkten zu verlangen, die einen Mangel aufweisen, sofern der Antrag gestellt wird vor Ablauf dieser Frist oder innerhalb eines Jahres ab Entdeckung des Mangels, falls diese Frist länger ist, eingereicht werden. Tritt innerhalb der ersten sechs Monate ein Mangel auf, so haftet von vornherein der Verkäufer. Er kann sich jedoch dadurch entlasten, dass er nachweist, dass der Mangel auf einer unsachgemäßen Behandlung seitens des Käufers beruht. Zeigt sich nachträglich ein Mangel, kann der Verkäufer vom Käufer den Nachweis verlangen, dass es sich um eine Vertragswidrigkeit handelt, die zum Zeitpunkt der Lieferung der Ware bestand.{% endtrans %}</p>
        </div>
        <div class="m-cgv-box">
            <h2>{% trans %}11. Geistiges Eigentum{% endtrans %}</h2>
            <p>{% trans %}Alle Elemente der Website, ob visuell oder akustisch, einschließlich der zugrunde liegenden Technologie, sind möglicherweise durch Urheberrechte, Marken oder allgemeiner durch das Gesetz über geistiges Eigentum geschützt. Sie sind ausschließliches Eigentum des Verkäufers. Der Verkäufer ermächtigt den Käufer, auf seiner eigenen Website einen einfachen Link direkt zur Website des Verkäufers zu platzieren. Andererseits ist jeder Hypertext-Link, der auf die Website verweist und die Technik des Framing oder Inline- oder Deep-Linking verwendet, verboten. In jedem Fall muss jeder Link, auch wenn er stillschweigend genehmigt wurde, auf Verlangen des Verkäufers entfernt werden.{% endtrans %}</p>
        </div>
        <div class="m-cgv-box">
            <h2>{% trans %}12. Kontakt mit dem Verkäufer{% endtrans %}</h2>
            <p>{% trans %}Bei Fragen zu seinem Kauf hat der Käufer die Möglichkeit, sich mit dem Verkäufer über das im Bereich „Kontakt“ auf der Website des Verkäufers verfügbare Kontaktformular oder über die E-Mail-Adresse <strong>info@soapopera.be</strong> in Verbindung zu setzen.{% endtrans %}</p>
        </div>
        <div class="m-cgv-box">
            <h2>{% trans %}13. Nichtigkeit und Integralität{% endtrans %}</h2>
            <p>{% trans %}Wenn eine oder mehrere Bestimmungen der AGB für ungültig erklärt oder gemäß einem Gesetz, einer Verordnung oder einer Entscheidung einer zuständigen Gerichtsbarkeit als solche erklärt werden, behalten die anderen Bestimmungen ihre gesamte Gültigkeit und ihren Umfang.{% endtrans %}</p>
        </div>
        <div class="m-cgv-box">
            <h2>{% trans %}14. Beweis{% endtrans %}</h2>
            <p>{% trans %}Die computergestützten Register, die in den Computersystemen des Verkäufers und seiner Partner unter angemessenen Sicherheitsbedingungen geführt werden, gelten als Beweis für die zwischen den Parteien getätigten Mitteilungen, Bestellungen und Zahlungen. Die Parteien akzeptieren im Rahmen ihrer Beziehungen das Prinzip des elektronischen Beweises (zB: E-Mail, Backups etc.).{% endtrans %}</p>
        </div>               
        <div class="m-cgv-box">
            <h2>{% trans %}15. Änderungen{% endtrans %}</h2>
            <p>{% trans %}Der Verkäufer behält sich das Recht vor, die AGB zu ändern und wird die neue Version den Käufern über die Website mitteilen.{% endtrans %}</p>
        </div>               
        <div class="m-cgv-box">
            <h2>{% trans %}16. Anwendbares Recht und Gerichtsstand{% endtrans %}</h2>
            <p>{% trans %}Die AGB unterliegen belgischem Recht. Im Streitfall wird vor gerichtlichen Schritten eine einvernehmliche Lösung angestrebt. Der Käufer hat auch die Möglichkeit, sich zur Einleitung eines gütlichen Streitbeilegungsverfahrens an die <a href="https://ec.europa.eu/consumers/odr/main/index.cfm?event=main.home2.show&lng=FR">Europäische Streitbeilegungsplattform</a> zu wenden. In Ermangelung einer gütlichen Einigung sind ausschließlich die Gerichte des Gerichtsbezirks Brüssel zuständig.{% endtrans %}</p>
        </div>               
    </div>
</section>


{% endblock %}
