//article detail
.m-article-detail-intro {
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .m-article-detail-intro-img {
        display: flex;    
        justify-content: center;
        align-items: center;  
        margin-bottom: 1rem;  
    }
}

//section navbar (acheter, commenter,...)
.m-article-detail-navbar-actions {   
    margin: 2rem 0; 
    position: relative;
    //formulaire commentaire + évaluer
    .commentaire, .evaluation {
        opacity: 0;
        height: 0;
        overflow: hidden; 
        position: absolute;
        z-index: -1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        max-width: 80%;
        margin: 0 auto;
        background-color: white;
        color: map-get($map: $colors, $key: 'text');
        border: .1rem solid map-get($map: $colors, $key: 'text');
        border-radius: 1rem;
        padding: 2rem; 
        transition: all 2s;      
        .back-to-page {
            position: absolute;
            top: 1rem;
            right: 1rem;
            cursor: pointer;
            color: map-get($map: $colors, $key: 'text');
            &::before {
                font-size: 1.5rem;
            }
        }
        .form-commentaire, .form-evaluation {
            h3, p{
                color: map-get($map: $colors, $key: 'text');
                text-align: center;
                margin-bottom: 1.5rem;
            }
            .form-commentaire-formulaire, .form-evaluation-formulaire {                
                text-align: center;
                height: 5rem;
                .form-area-comment {
                    width: 100%;
                    max-width: 80%;
                    margin: 1rem auto;
                    height: 100%;
                    textarea {
                        width: 100%;
                        height: 100%;
                        padding: 1rem;
                    }
                }
                .form-area-evaluation {
                    height: 3rem;
                    .star {
                        font-size: 1.5rem;
                    }
                }
                .recherche-area {
                    button {
                        width: auto;
                    }
                }
            }
        }
        &.show {
            opacity: 1;
            height: auto;
            z-index: 999999;
            transition: all 2s;
        }
    }       
    .commentaire {
        height: 26rem;
    }
    .evaluation {
        height: 18rem;
    }
    .actions {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;        
        .action-box {
            margin-bottom: 1rem;           
            color: map-get($map: $colors, $key: 'text');
            font-size: 1rem;
            height: 4rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            &:hover {
                .action-icon {
                    color: map-get($map: $colors, $key: 'bg-2');
                }                
            } 
            .action-link {
                font-size: 1rem;
                text-decoration: none;
                color: map-get($map: $colors, $key: 'text');
                text-align: center;
            }           
        }
    }    
}

.m-article-detail-info {
    width: 100%;
    max-width: 90%;
    margin: 0 auto 3rem auto;
    height: 40rem;
    background-color: map-get($map: $colors, $key: 'main1');
    border: 0.1rem solid map-get($map: $colors, $key: 'text');
    position: relative;
    box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.4);      
    .container-onglets {
        width: 100%;
        height: 10%;
        display: flex;
        border-bottom: 0.1rem solid map-get($map: $colors, $key: 'text');
        color: map-get($map: $colors, $key: 'text');
        .onglets {
            width: 33.33%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: .7rem;
            font-weight: 700;
            cursor: pointer;           
            &:not(:nth-child(3)) {
                border-right: 0.1rem solid map-get($map: $colors, $key: 'text');
            }
        }
    }
    .contenu {
        width: 100%;
        height: 90%;
        position: absolute;
        opacity: 0;
        padding: 2rem;
        .contenu-box {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            ul {
                li {
                    margin: .5rem 0;
                }
            }
        }        
        h3 {
            font-size: .9rem;
            font-weight: bold; 
            margin-bottom: 1rem;           
        }
        p, li {
            font-size: .7rem;
            margin-bottom: .5rem;
        }
        .m-article-detail-info-box {
            margin-bottom: 2rem;
            span {
                font-weight: bold;
            }
            div {
                font-size: .7rem;                
            }
            .promo-box {
                display: flex;
                flex-direction: column;
            }
        }
        .m-article-detail-info-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            a {
                font-size: .7rem;
            }
        }
    }
}
//animation sur système onglet
.act {
    background-color: map-get($map: $colors, $key: 'bg-2');
}
.activeContenu {    
    z-index: 9999;
    animation: fade 1s forwards;
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


.m-article-detail-commentaire-box {
    margin: 1rem 0;
    border-bottom: 0.1rem solid map-get($map: $colors, $key: 'text');
}



//media query
@media screen and (min-width: 576px) {    
    .m-article-detail-info {
        .container-onglets {
            .onglets {
                font-size: 1rem;
            }
        }
        .contenu {
            h3 {
                font-size: 1.1rem;
            }        
            p, li {
                font-size: 1rem;
            }
            .m-article-detail-info-box {
                div {
                    font-size: 1rem;
                }
            }
            .m-article-detail-info-btn {
                a {
                    font-size: 1rem;
                }
            }
        }
    }
    .m-article-detail-navbar-actions {
        .commentaire {
            height: 20rem;
        }
        .evaluation {
            height: 15rem;
        }
    }
}

@media screen and (min-width: 768px) {    
    .m-article-detail-intro {
        margin: 5rem 0 2rem 0;
        .m-article-detail-intro-img {
            img {
                width: 70%;
            }
        }
    }
}  


@media screen and (min-width: 992px) {
    .m-article-detail-navbar-actions {       
        .actions {            
            flex-direction: row;           
        }    
    }
    .m-article-detail-intro {
        .m-article-detail-intro-img {
            img {
                width: 50%;
            }
        }
    }
}    