{% extends 'base.html.twig' %}

{% block title %}Problem Bezahlung{% endblock %}

{% block body %}
<h1>Thanks for your attempted order!</h1>
<p>
    We would appreciate your business!
    But the payment failed!
    <a href="#">orders@example.com</a>.
</p>
{% endblock %}
