{% extends 'base.html.twig' %}

{% block title %}Hello PolitiqueCofidentController!{% endblock %}

{% block body %}
{# rendering fragment recherche #}
{{ render(path('recherche')) }}

<section class="m-politique-cofident">
    <div class="wrapper">
        <h1>{% trans %}Datenschutz-Bestimmungen{% endtrans %}</h1>        
        <div class="m-politique-confident-box">
            <h2>{% trans %}Grundlegendes{% endtrans %}</h2>
            <p>{% trans %}Verantwortlicher für die Erhebung, Verarbeitung und Nutzung Ihrer personenbezogenen Daten im Sinne von Art. 4 Nr. 7 DSGVO ist:{% endtrans %}</p>
            <div class="m-mentions-legales-box-unit">
                <p>Soap-Opera</p>
                <p>Adresse</p>
            </div>
            <div class="m-mentions-legales-box-unit">
                <p>Tel</p>
                <p>Email</p>
                <p>Mehrwertsteuernummer</p>
            </div>  
            <div class="m-mentions-legales-box-unit">
                <p>{% trans %}Sofern Sie der Erhebung, Verarbeitung oder Nutzung Ihrer Daten durch uns nach Maßgabe dieser Datenschutzbestimmungen insgesamt oder für einzelne Maßnahmen widersprechen wollen, können Sie Ihren Widerspruch an den Verantwortlichen richten.{% endtrans %}</p>
            </div>  
            <div class="m-mentions-legales-box-unit">
                <p>{% trans %}Diese Datenschutzerklärung soll die Nutzer dieser Website über die Art, den Umfang und den Zweck der Erhebung und Verwendung personenbezogener Daten durch den Websitebetreiber informieren.{% endtrans %}</p>
            </div>  
            <div class="m-mentions-legales-box-unit">
                <p>{% trans %}Der Websitebetreiber nimmt Ihren Datenschutz sehr ernst und behandelt Ihre personenbezogenen Daten vertraulich und entsprechend der gesetzlichen Vorschriften. Da durch neue Technologien und die ständige Weiterentwicklung dieser Webseite Änderungen an dieser Datenschutzerklärung vorgenommen werden können, empfehlen wir Ihnen sich die Datenschutzerklärung in regelmäßigen Abständen wieder durchzulesen.{% endtrans %}</p>
            </div>  
            <div class="m-mentions-legales-box-unit">
                <p>{% trans %}Definitionen der verwendeten Begriffe (z.B. “personenbezogene Daten” oder “Verarbeitung”) finden Sie in Art. 4 DSGVO.{% endtrans %}</p>
            </div>  
        </div>     
        <div class="m-politique-confident-box">
            <h2>{% trans %}Datenlöschung und Speicherdauer{% endtrans %}</h2>
            <div class="m-mentions-legales-box-unit">
                <p>{% trans %}Die personenbezogenen Daten der betroffenen Person werden gelöscht oder gesperrt, sobald der Zweck der Speicherung entfällt. Eine Speicherung kann darüber hinaus erfolgen, wenn dies durch den europäischen oder nationalen Gesetzgeber in unionsrechtlichen Verordnungen, Gesetzen oder sonstigen Vorschriften, denen der Verantwortliche unterliegt, vorgesehen wurde. Eine Sperrung oder Löschung der Daten erfolgt auch dann, wenn eine durch die genannten Normen vorgeschriebene Speicherfrist abläuft, es sei denn, dass eine Erforderlichkeit zur weiteren Speicherung der Daten für einen Vertragsabschluss oder eine Vertragserfüllung besteht.{% endtrans %}</p>
            </div>            
        </div>                 
        <div class="m-politique-confident-box">
            <h2>{% trans %}Zugriffsdaten{% endtrans %}</h2>
            <div class="m-mentions-legales-box-unit">
                <p>{% trans %}Wir, der Websitebetreiber bzw. Seitenprovider, erheben aufgrund unseres berechtigten Interesses (s. Art. 6 Abs. 1 lit. f. DSGVO) Daten über Zugriffe auf die Website und speichern diese als “Server-Logfiles” auf dem Server der Website ab. Folgende Daten werden so protokolliert:{% endtrans %}</p>
            </div> 
            <div class="m-mentions-legales-box-unit">
                <ul>
                    <li>{% trans %}Besuchte Website{% endtrans %}</li>
                    <li>{% trans %}Uhrzeit zum Zeitpunkt des Zugriffes{% endtrans %}</li>
                    <li>{% trans %}Menge der gesendeten Daten in Byte{% endtrans %}</li>
                    <li>{% trans %}Quelle/Verweis, von welchem Sie auf die Seite gelangten{% endtrans %}</li>
                    <li>{% trans %}Verwendeter Browser{% endtrans %}</li>
                    <li>{% trans %}Verwendetes Betriebssystem{% endtrans %}</li>
                    <li>{% trans %}Verwendete IP-Adresse{% endtrans %}</li>
                </ul>
            </div> 
            <div class="m-mentions-legales-box-unit">
                <p>{% trans %}Die Server-Logfiles werden für maximal 180 Tage gespeichert und anschließend gelöscht. Die Speicherung der Daten erfolgt aus Sicherheitsgründen, um z. B. Missbrauchsfälle aufklären zu können. Müssen Daten aus Beweisgründen aufgehoben werden, sind sie solange von der Löschung ausgenommen bis der Vorfall endgültig geklärt ist.{% endtrans %}</p>
            </div>
            <div class="m-mentions-legales-box-unit">
                <p>{% trans %}Die Erfassung der Daten zur Bereitstellung der Website und die Speicherung der Daten in Logfiles ist für den Betrieb der Internetseite zwingend erforderlich. Es besteht folglich seitens des Nutzers keine Widerspruchsmöglichkeit.{% endtrans %}</p>
            </div>
        </div>                 
        <div class="m-politique-confident-box">
            <h2>{% trans %}Reichweitenmessung & Cookies{% endtrans %}</h2>
            <div class="m-mentions-legales-box-unit">
                <p>{% trans %}Diese Website verwendet Cookies zur pseudonymisierten Reichweitenmessung, die entweder von unserem Server oder dem Server Dritter an den Browser des Nutzers übertragen werden. Bei Cookies handelt es sich um kleine Dateien, welche auf Ihrem Endgerät gespeichert werden. Ihr Browser greift auf diese Dateien zu. Durch den Einsatz von Cookies erhöht sich die Benutzerfreundlichkeit und Sicherheit dieser Website.{% endtrans %}</p>
            </div>           
            <div class="m-mentions-legales-box-unit">
                <p>{% trans %}Falls Sie nicht möchten, dass Cookies zur Reichweitenmessung auf Ihrem Endgerät gespeichert werden, können Sie dem Einsatz dieser Dateien hier widersprechen:{% endtrans %}</p>
            </div>
            <div class="m-mentions-legales-box-unit">
                <ul>
                    <li>{% trans %}Cookie-Deaktivierungsseite der Netzwerkwerbeinitiative: {% endtrans %}<a href="http://optout.networkadvertising.org/?c=1#!/">http://optout.networkadvertising.org/?c=1#!/</a></li>
                    <li>{% trans %}Cookie-Deaktivierungsseite der US-amerikanischen Website: {% endtrans %}<a href="http://optout.aboutads.info/?c=2#!/">http://optout.aboutads.info/?c=2#!/</a></li>
                    <li>{% trans %}Cookie-Deaktivierungsseite der europäischen Website: {% endtrans %}<a href="http://optout.networkadvertising.org/?c=1#!/">http://optout.networkadvertising.org/?c=1#!/</a></li>
                </ul>
            </div> 
            <div class="m-mentions-legales-box-unit">
                <p>{% trans %}Gängige Browser bieten die Einstellungsoption, Cookies nicht zuzulassen. Hinweis: Es ist nicht gewährleistet, dass Sie auf alle Funktionen dieser Website ohne Einschränkungen zugreifen können, wenn Sie entsprechende Einstellungen vornehmen.{% endtrans %}</p>
            </div>
            <div class="m-mentions-legales-box-unit">
                <p>{% trans %}Wir setzen Cookies ein, um unsere Website nutzerfreundlicher zu gestalten. Einige Elemente unserer Internetseite erfordern es, dass der aufrufende Browser auch nach einem Seitenwechsel identifiziert werden kann.{% endtrans %}</p>
            </div>
            <div class="m-mentions-legales-box-unit">
                <p>{% trans %}In den Cookies werden dabei folgende Daten gespeichert und übermittelt:{% endtrans %}</p>
            </div>
            <div class="m-mentions-legales-box-unit">
                <ul>
                    <li>{% trans %}Spracheinstellungen{% endtrans %}</li>
                    <li>{% trans %}Artikel in einem Warenkorb{% endtrans %}</li>
                    <li>{% trans %}Log-In-Informationen{% endtrans %}</li>
                </ul>
            </div> 
        </div>                 
        <div class="m-politique-confident-box">
            <h2>{% trans %}Erfassung und Verarbeitung personenbezogener Daten{% endtrans %}</h2>
            <div class="m-mentions-legales-box-unit">
                <p>{% trans %}Der Websitebetreiber erhebt, nutzt und gibt Ihre personenbezogenen Daten nur dann weiter, wenn dies im gesetzlichen Rahmen erlaubt ist oder Sie in die Datenerhebung einwilligen.{% endtrans %}</p>
            </div>           
            <div class="m-mentions-legales-box-unit">
                <p>{% trans %}Als personenbezogene Daten gelten sämtliche Informationen, welche dazu dienen, Ihre Person zu bestimmen und welche zu Ihnen zurückverfolgt werden können – also beispielsweise Ihr Name, Ihre E-Mail-Adresse und Telefonnummer.{% endtrans %}</p>
            </div> 
            <div class="m-mentions-legales-box-unit">
                <p>{% trans %}Diese Website können Sie auch besuchen, ohne Angaben zu Ihrer Person zu machen. Zur Verbesserung unseres Online-Angebotes speichern wir jedoch (ohne Personenbezug) Ihre Zugriffsdaten auf diese Website. Zu diesen Zugriffsdaten gehören z. B. die von Ihnen angeforderte Datei oder der Name Ihres Internet-Providers. Durch die Anonymisierung der Daten sind Rückschlüsse auf Ihre Person nicht möglich.{% endtrans %}</p>
            </div>
            <div class="m-mentions-legales-box-unit">
                <ol>
                    <li>{% trans %}<span class="bold">Welche?<span> – Wir verarbeiten personenbezogene Daten wie Vorname, Nachname, IP-Adresse, E-Mail-Adresse, Wohnort, Postleitzahl und Inhaltsangaben aus dem Kontaktformular.{% endtrans %}</li> 
                    <li>{% trans %}<span class="bold">Wie?<span> – Wir verarbeiten personenbezogene Daten nur nach ausdrücklicher Erlaubnis der betreffenden Nutzer und unter Einhaltung der geltenden Datenschutzbestimmungen.{% endtrans %}</li>
                    <li>{% trans %}<span class="bold">Warum?<span> – Die Verarbeitung der personenbezogenen Daten erfolgt aufgrund unseres berechtigten Interesses zur Erfüllung unserer vertraglich vereinbarten Leistungen und zur Optimierung unseres Online-Angebotes.{% endtrans %}</li>
                </ol>
            </div> 
        </div>                 
        <div class="m-politique-confident-box">
            <h2>{% trans %}Kontaktformular und E-Mail-Kontakt{% endtrans %}</h2>
            <div class="m-mentions-legales-box-unit">
                <p>{% trans %}Auf unserer Internetseite ist ein Kontaktformular vorhanden, welches für die elektronische Kontaktaufnahme genutzt werden kann. Nimmt ein Nutzer diese Möglichkeit wahr, so werden die in der Eingabemaske eingegeben Daten an uns übermittelt und gespeichert.{% endtrans %}</p>
            </div>           
            <div class="m-mentions-legales-box-unit">
                <p>{% trans %}Alternativ ist eine Kontaktaufnahme über die bereitgestellte E-Mail-Adresse möglich. In diesem Fall werden die mit der E-Mail übermittelten personenbezogenen Daten des Nutzers gespeichert.{% endtrans %}</p>
            </div> 
            <div class="m-mentions-legales-box-unit">
                <p>{% trans %}Es erfolgt in diesem Zusammenhang keine Weitergabe der Daten an Dritte. Die Daten werden ausschließlich für die Verarbeitung der Konversation verwendet.{% endtrans %}</p>
            </div>
            <div class="m-mentions-legales-box-unit">
                <p>{% trans %}Rechtsgrundlage für die Verarbeitung der Daten ist bei Vorliegen einer Einwilligung des Nutzers Art. 6 Abs. 1 lit. a DSGVO.{% endtrans %}</p>
            </div>
            <div class="m-mentions-legales-box-unit">
                <p>{% trans %}Rechtsgrundlage für die Verarbeitung der Daten, die im Zuge einer Übersendung einer E-Mail übermittelt werden, ist Art. 6 Abs. 1 lit. f DSGVO. Zielt der E-Mail-Kontakt auf den Abschluss eines Vertrages ab, so ist zusätzliche Rechtsgrundlage für die Verarbeitung Art. 6 Abs. 1 lit. b DSGVO.{% endtrans %}</p>
            </div>
            <div class="m-mentions-legales-box-unit">
                <p>{% trans %}Die Verarbeitung der personenbezogenen Daten aus der Eingabemaske dient uns allein zur Bearbeitung der Kontaktaufnahme. Im Falle einer Kontaktaufnahme per E-Mail liegt hieran auch das erforderliche berechtigte Interesse an der Verarbeitung der Daten.
                    Die sonstigen während des Absendevorgangs verarbeiteten personenbezogenen Daten dienen dazu, einen Missbrauch des Kontaktformulars zu verhindern und die Sicherheit unserer informationstechnischen Systeme sicherzustellen.{% endtrans %}</p>
            </div>
            <div class="m-mentions-legales-box-unit">
                <p>{% trans %}Die Daten werden gelöscht, sobald sie für die Erreichung des Zweckes ihrer Erhebung nicht mehr erforderlich sind. Für die personenbezogenen Daten aus der Eingabemaske des Kontaktformulars und diejenigen, die per E-Mail übersandt wurden, ist dies dann der Fall, wenn die jeweilige Konversation mit dem Nutzer beendet ist. Beendet ist die Konversation dann, wenn sich aus den Umständen entnehmen lässt, dass der betroffene Sachverhalt abschließend geklärt ist.{% endtrans %}</p>
            </div>
            <div class="m-mentions-legales-box-unit">
                <p>{% trans %}Der Nutzer hat jederzeit die Möglichkeit, seine Einwilligung zur Verarbeitung der personenbezogenen Daten zu widerrufen. Nimmt der Nutzer per E-Mail Kontakt mit uns auf, so kann er der Speicherung seiner personenbezogenen Daten jederzeit widersprechen. In einem solchen Fall kann die Konversation nicht fortgeführt werden.{% endtrans %}</p>
            </div>
        </div>                 
        <div class="m-politique-confident-box">
            <h2>{% trans %}Onlineshop{% endtrans %}</h2>
            <div class="m-mentions-legales-box-unit">
                <h3>{% trans %}Kunden{% endtrans %}</h3>
                <p>{% trans %}Wir, der Shopbetreiber, erheben aufgrund unseres berechtigten Interesses (s. Art. 6 Abs. 1 lit. b DSGVO) Daten über über die Kunden die Bestellungen in unserem Shop tätigen{% endtrans %}</p>
            </div>           
            <div class="m-mentions-legales-box-unit">
                <h3>{% trans %}Bestellvorgang{% endtrans %}</h3>
                <p>{% trans %}Daten, welche im Rahmen einer Bestellabwicklung von den Kunden eingegeben werden, werden auf www.soap-opera.com.be gespeichert. Dazu gehören:{% endtrans %}</p>
            </div> 
            <div class="m-mentions-legales-box-unit">
                <ul>
                    <li>{% trans %}Name und Vorname{% endtrans %}</li>
                    <li>{% trans %}E-Mail-Adresse{% endtrans %}</li>
                    <li>{% trans %}Adresse{% endtrans %}</li>
                </ul>
            </div>
            <div class="m-mentions-legales-box-unit">
                <p>{% trans %}Jene Daten, welche zur Auslieferung oder Auftragsabwicklung zwingend notwendig sind, werden an die Firma Stripe  (https://www.stripe.com) weitergegeben. Weiterhin werden die Zahlungsinformationen der gewählten Zahlart an Stripe übermittelt:{% endtrans %}</p>
            </div>
            <div class="m-mentions-legales-box-unit">
                <ul>
                    <li>{% trans %}Kartennummer und -inhaber, Ablaufdatum und Sicherheitscode{% endtrans %}</li>
                </ul>
            </div>
            <div class="m-mentions-legales-box-unit">
                <p>{% trans %}Weitere Informationen zum Datenschutz bei Stripe: {% endtrans %}<a href="https://stripe.com/en-be/privacy">https://stripe.com/en-be/privacy</a></p>
            </div>
            <div class="m-mentions-legales-box-unit">
                <p>{% trans %}Sowie die Aufbewahrung Ihrer Daten nicht mehr erforderlich oder gesetzlich geboten ist, werden diese gelöscht. Kundenkonten und die dazugehörigen Daten werden auf Anfrage gelöscht.{% endtrans %}</p>
            </div>
        </div>                 
        <div class="m-politique-confident-box">
            <h2>{% trans %}SOZIALE MEDIEN, PLUGINS & TOOLS{% endtrans %}</h2>
            <div class="m-mentions-legales-box-unit">
                <h3>{% trans %}Einbindung von Diensten und Inhalten (Plugins) Dritter{% endtrans %}</h3>
                <p>{% trans %}Wir setzen innerhalb unseres Onlineangebotes auf Grundlage unserer berechtigten Interessen (d.h. Interesse an der Analyse, Optimierung und wirtschaftlichem Betrieb und im Interesse einer ansprechenden Darstellung unseres Onlineangebotes im Sinne des Art. 6 Abs. 1 lit. f. DSGVO) Inhalts- oder Serviceangebote von Drittanbietern ein, um deren Inhalte und Services, wie z.B. Videos oder Beiträge einzubinden. Eine entsprechende Einbindung setzt immer voraus, dass die Drittanbieter dieser Inhalte, Deine IP-Adresse wahrnehmen, da sie ohne die IP-Adresse die Inhalte nicht an Deinen Browser senden können. Die IP-Adresse ist damit für die Darstellung dieser Inhalte erforderlich.{% endtrans %}</p>
                <p>{% trans %}Wir bemühen uns nur solche Inhalte zu verwenden, deren jeweilige Anbieter Deine IP-Adresse lediglich zur Auslieferung der Inhalte verwenden.{% endtrans %}</p>
                <p>{% trans %}Drittanbieter können ferner so genannte Pixel-Tags (unsichtbare Grafiken, auch als “Web Beacons” bezeichnet) für statistische oder Marketingzwecke verwenden. Durch die “Pixel-Tags” können Informationen, wie der Besucherverkehr auf den Seiten dieser Website ausgewertet werden. Die pseudonymen Informationen können ferner in Cookies auf Deinem Gerät gespeichert werden und unter anderem technische Informationen zu Deinem Browser und Betriebssystem, verweisende Webseiten, Besuchszeit sowie weitere Angaben zu Deiner Nutzung unseres Onlineangebotes enthalten, als auch mit solchen Informationen aus anderen Quellen verbunden werden.{% endtrans %}</p>
            </div>           
        </div>                 
    </div>
</section>
{% endblock %}
