// liste de articles
.m-list-articles {
    width: 100%;
    height: auto;
    background-color: map-get($map: $colors, $key: 'main1'); 
    margin: 3rem 0; 
    h1 {
        text-align: center;
        padding-top: 2rem;
        color: map-get($map: $colors, $key: 'text');
    }
    .m-list-articles-result {
        width: 100%;        
        .m-article-content {            
            width: 100%;
            max-width: 250px;
            margin: 2rem auto;            
            display: flex;
            flex-direction: column;
            background-color: map-get($map: $colors, $key: 'bg-2');
            box-shadow: 0 0 .3rem rgba(0, 0, 0, 0.3);
            img{
                width: 250px;
                height: 100%;
                object-fit: cover;
            }            
            .m-article-info { 
                width: 250px;             
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;                
                color: map-get($map: $colors, $key: 'text');
                background-color: map-get($map: $colors, $key: 'main1');
                text-align: center; 
                padding: 2rem;  
                .deco-point {
                    width: 2rem;
                    height: 2rem;
                    border-radius: 50%;
                    background-color: rgb(166, 217, 230);
                    margin-bottom: .5rem;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
                &:hover {
                    .deco-point {
                        background-color: map-get($map: $colors, $key: 'bg-2');
                    }
                }                           
            }            
        }
    }    
}
//navigation
.move {
    margin: 0 .5rem;
}
.pagination {
    li {
        a {
            background-color: map-get($map: $colors, $key: 'main1');
            color: map-get($map: $colors, $key: 'text');
            border-color: map-get($map: $colors, $key: 'text');
            &:focus, &:hover {                 
                background-color: map-get($map: $colors, $key: 'bg-2');
                border-color: map-get($map: $colors, $key: 'text');                    
            }            
        }
    }
}
.page-item {
    &.active {
        .page-link {            
            color: map-get($map: $colors, $key: 'main1');
            background-color: map-get($map: $colors, $key: 'text') !important;
            border: solid 0.05rem map-get($map: $colors, $key: 'text') !important;                 
        }
    }
}

//media query

@media screen and (min-width: 576px) {
    .m-list-articles {
        .m-list-articles-result {
            .m-article-content {
                max-width: 450px;
                flex-direction: row;
                img {
                    width: 225px;
                    height: 225px
                }
                .m-article-info {
                    width: 225px;
                    height: 225px;
                }
            }
        }
    }
}  

@media screen and (min-width: 768px) {
    .m-list-articles {
        .m-list-articles-result {
            .m-article-content {
                max-width: 700px;
                flex-direction: row;
                img {
                    width: 300px;
                    height: 300px
                }
                .m-article-info {
                    width: 400px;
                    height: 300px;
                }
            }
        }
    }
    h4, a {
        font-size: .8rem;
    } 
}    