<h2>{% trans %}Hallo {% endtrans %}{{ salutation }}</h2>
<p>{% trans %}Du möchtest dein Passwort ändern? Bitte nutze hierfür den folgenden Link:{% endtrans %}</p>
{# ici on n'utilise pas path mais url#}
<a href="{{ url('validation_password_reset', {"id": id}) }}">{% trans %}Bestätigung{% endtrans %}</a>