// ----------------------------
// STYLE MODULE CGV
// ----------------------------

.m-cgv {
    margin: 3rem 0;
    h1 {
        margin-bottom: 2rem;
    }
    .m-cgv-box {
        margin-bottom: 1rem;
        p {
            margin-bottom: 1rem;
        }
    }
}