{% extends 'base.html.twig' %}

{% block title %}{% trans %}Liste Artikel{% endtrans %}{% endblock %}

{% block body %}

{# rendering fragment recherche #}
{{ render(path('recherche')) }}

<section class="m-list-articles js-list">
    {# message en cas où il n'y a pas de résultat #}
    {#{% for message in app.flashes('noPrest') %}
        <div class="alert alert-danger text-center">
            {{ message }}
        </div>
    {% endfor %}#}
    <div class="wrapper">
        {% if traductionArticles is defined and traductionArticles is not null and traductionArticles is not empty %}
            <div class="m-list-articles-result" id="js-list-content">
                {% include 'article/_articles.html.twig' %}                   
            </div>
            {# systéme de pagination #}
            {% if pagBar is defined and pagBar is not null and pagBar is not empty %}
                <div id="js-list-bar-navigation">
                    {% include 'article/_navigationBar.html.twig' %}
                </div>
            {% endif %}     
            {% if pagCat is defined and pagCat is not null and pagCat is not empty %}
            <div id="js-list-cat-navigation">
                {% include 'article/_navigationCat.html.twig' %}
            </div> 
            {% endif %}     
        {% endif %}  
    </div>
</section>
{% endblock %}
